.footer{
  background: $gray800;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px;
}
.footer-logo{
  margin-bottom: 72px;
}
.footer-social{
  display: flex;
}
.footer-icons{
  img{
    margin: 10px;
    width: 33px;
  }
}
.footer-copy{
  margin-top: 30px;
  p{
    color: $gray400;
  }
}