.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.text-bold{
  font-weight: bold!important;
}
.btn-primary{
  background-color: $primary;
  padding: 20px 78px;
  width: 250px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  color: $white;
  transition: all 0.3s;
  &:before{
    content: '';
    position: absolute;
    width: 193.83px;
    height: 46px;
    margin-left: -48.91px;
    margin-top: 8px;
    background: rgba(245,56,56,.35);
    filter: blur(23px);
    border-radius: 10px;
    z-index: -1;
  }
  &:hover{
    background-color: $gray800;
  }
}
@media screen and (max-width: 991px) {
  .btn-primary{
    padding: 20px 70px;
  }
}