/* navbar start */
.navbar {
  background: $white;
  padding: 40px 0;
}
.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    li {
      a {
        color: $gray600;
        padding: 20px;
        display: block;
        text-decoration: none;
        transition: all 0.3s;
        &:hover {
          color: $primary;
        }
      }
    }
  }
}
.logo{
  width: 172px;
}
/* navbar end */


/* nav-toggler  */
.nav-toggler {
  outline: 0;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  display: none;
  border: 0;
  span {
    width: 18px;
    height: 2px;
    background-color: $gray800;
    display: block;
    transition: .3s;
    &:before {
      width: 18px;
      height: 2px;
      background-color: $gray800;
      display: block;
      transition: .3s;
      content: '';
      transform: translateY(-6px);
    }
    &:after {
      width: 18px;
      height: 2px;
      background-color: $gray800;
      display: block;
      transition: .3s;
      content: '';
      transform: translateY(4px);
    }
  }
}
.nav-toggler.toggler-open {
  span {
    background-color: transparent;
    &:before {
      transform: translateY(0px) rotate(45deg);
    }
    &:after {
      transform: translateY(-2px) rotate(-45deg);
    }
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 100%;
    padding: 0;
  }
  .navbar{
    padding: 13px 24px;
    background: $gray100;
  }
  .nav-toggler{
    display: block;
  }
  .navbar-menu {
    min-height: 60px;
    ul {
      position: absolute;
      width: 100%;
      height: calc(100vh - 85px);
      left: 0;
      top: 85px;
      flex-direction: column;
      align-items: center;
      background-color: $white;
      max-height: 0;
      overflow: hidden;
      transition: .3s;
      li {
        width: 100%;
        text-align: center;
        &:first-child{
          padding-top: 20px;
        }
        a {
          outline: 0;
          padding: 25px;
          &:hover {
            color: $primary;
          }
        }
      }
    }
    ul.open {
      max-height: 338px;
      overflow: visible;
    }
  }
}