$primary: #F53838;
$secondary: #FFECEC;

$white: #ffffff;
$black: #0b132a;
$gray800: #2F2F2F;
$gray600: #4f5665;
$gray400: #afb5c0;
$gray300: #DDE0E4;
$gray200: #EEEFF2;
$gray100: #F7F7F7;
$gray50: #F6F6F6;

$success: #2FAB73;